                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="static/images/webp-resize-2000/202105/20210502GaoWei/DSC03298.JPG"
                             role="img" aria-label="Placeholder: Thumbnail">
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                        </img>
                        <div class="card-body">
                            <p class="card-text">{date} {title} {remark}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{md_path}"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">by {author}</small>
                            </div>
                        </div>
                    </div>
                </div>
